import(methods, grDevices, graphics, grid, ggplot2, lattice)
exportPattern("figure")
export("plot.newclass")
export("grid.imageFun")
export("grid.ozFun")
export("imageGrob")
export("grid.imageGrob")
S3method("validDetails", "imageGrob")
S3method("validDetails", "ozGrob")
export("ozGrob")
export("grid.ozGrob")
export("ozImage")
S3method("drawDetails", "ozImage")
S3method("editDetails", "imageGrob")
S3method("editDetails", "ozGrob")
export("ribbonLegend")
S3method("widthDetails", "ribbonLegend")
export("ozKey")
export("splitString")
export("splitTextGrob")
S3method("drawDetails", "splitText")
export("faceD")
export("faceE")
export("faceA")
export("faceB")
export("faceC")
S3method("drawDetails", "face")
